/**
 *			Fluid 1.0.1 Theme © Volkeyrn
 */
 @import url(https://fonts.googleapis.com/css?family=Lato:ital,wght@300,400,400italic,700,700italic&display=swap);

/**********************************************/
/******************** GAME ********************/
/**********************************************/
body.scheme_fluid,
.scheme_fluid .help,
.scheme_fluid .dialog {
	background-color: #292728;
	background-image: url('img/theme_fluid_background.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}
.scheme_fluid #game,
.scheme_fluid #loadingContainer {
    top: 22px;
}
.scheme_fluid #game {
	background-image: url('img/theme_fluid_border_top_background.png');
	background-repeat: repeat-x;	
	background-attachment: scroll,local;
	background-position: top;
}
.scheme_fluid  #gamePageContainer,
.scheme_fluid select,
.scheme_fluid .btn,
.scheme_fluid  .modern,
.scheme_fluid .btn.modern,
.scheme_fluid input[type='button'] {
	font-family: 'Lato', sans-serif;
}
.scheme_fluid .btn { 
	color: gray;
	margin-bottom:6px;
	max-height: 36px;
	background-color: transparent;
	border: solid 1px transparent;
}
.scheme_fluid .btn.modern {
	/*font-size: 14px; /* default font size = font-size: 14px; */
	border-radius: 7px; /* more rounded buttons for this theme */
	width: 274px; /* +10px gained from tabInner padding default width: 264px; */
}
.scheme_fluid .btn.disabled {
	background-color: #4A4A4A;
	border: solid 1px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 3px #292728 inset, 
                 0 1px 0 rgba(187, 192, 202, 0.2) !important; /* color #BBC0CA */
}
.scheme_fluid .btn.disabled span { /* to change only the properties of the button name for buttons disabled */
	text-shadow: 0px 1px 0px rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
}
.scheme_fluid .btn.disabled span.limited { /* to change only the properties of the button name for buttons limited */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.scheme_fluid .btn.disabled:hover {	
	background-color: #4A4A4A;
	border: solid 1px rgba(128, 128, 128, 0.4); /* color #808080 */
	cursor: inherit;
}
.scheme_fluid .btn.modern:not(.disabled) {
	background-color: #666666; /* color for all button not disabled*/
	border: solid 1px rgba(116, 116, 116, 0.3); /* color #747474 */
    cursor: pointer !important;
}
.scheme_fluid .btn.modern:not(.disabled):hover { /* hover on all button in center column */
	background-color: #118AC2;
	border: solid 1px rgba(209, 214, 223, 0.7); /* color #D1D6DF */
	cursor: pointer !important;
}
.scheme_fluid .btn:not(.disabled) span { /* to change only the properties of the button name for buttons enabled */
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.scheme_fluid .btn:not(.disabled):hover span { 
	color: #EEEEEE !important;
}
.scheme_fluid a {
	color: #747474;
}
.scheme_fluid a,
.scheme_fluid .craft-link {
    text-decoration: none;
}
.scheme_fluid a:hover {
	color: #C0C0C0; 
	opacity: 1.0;
}
.scheme_fluid div {
	color: #B0B0B0; 
}
.scheme_fluid .disabled div { /* color text for disabled */
	color: #888888;	
}
.scheme_fluid .btn:not(.disabled) div { /* color text for all buttons not disabled */
	color: #BBBBBB;
}
.scheme_fluid .btn.disabled div { /* color text for all buttons disabled */
	color: #161616;
}
.scheme_fluid h1 {
    font-size: 16px; /* default font size = font-size: 12px; */
    color: #118AC2; 
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
	margin-left: 20px;
}
.scheme_fluid h1:first-child {
    margin-top: 0px;
}
/* if not use line bottom : '.btn.small-text span' then green light color do not change ! why ??*/
.scheme_fluid .btn.small-text span { /* text size for multiple buttons */
    /*default font-size = font-size: 90% of 14px font size;*/
	font-size: 90%;
}
/*** green and red light for machine on/off ***/
.scheme_fluid .btn.bldEnabled div.btnContent,
.scheme_fluid .btn.bldlackResConvert div.btnContent {
	border: none;
}
.scheme_fluid .btn.disabled.bldlackResConvert { /* color #991A22*/ /* color for lack resources convertion */	
	background: no-repeat border-box linear-gradient(90deg, #991A22 0%, #991A22 10px, #4A4A4A 12px, #4A4A4A 100%);
}
.scheme_fluid .btn.disabled.bldlackResConvert:hover {
	background: no-repeat border-box linear-gradient(90deg, #991A22 0px, #991A22 10px, #4A4A4A 12px, #4A4A4A 100%);
}
.scheme_fluid .btn:not(.disabled).bldlackResConvert {
	background: no-repeat border-box linear-gradient(90deg, #991A22 0%, #991A22 10px, #666666 12px, #666666 100%);
}
.scheme_fluid .btn:not(.disabled).bldlackResConvert:hover {
	background: no-repeat border-box linear-gradient(90deg, #E00000 0px, #E00000 10px, #118AC2 12px, #118AC2 100%);
}
.scheme_fluid .btn.disabled.bldEnabled { /* color #7AA738 */
	background: no-repeat border-box linear-gradient(90deg, #7AA738 0%, #7AA738 10px, #4A4A4A 12px, #4A4A4A 100%);
}
.scheme_fluid .btn.disabled.bldEnabled:hover {
	background: no-repeat border-box linear-gradient(90deg, #7AA738 0px, #7AA738 10px, #4A4A4A 12px, #4A4A4A 100%);
}
.scheme_fluid .btn:not(.disabled).bldEnabled {
	background: no-repeat border-box linear-gradient(90deg, #7AA738 0%, #7AA738 10px, #666666 12px, #666666 100%);
}
.scheme_fluid .btn:not(.disabled).bldEnabled:hover {
	background: no-repeat border-box linear-gradient(90deg, #94dc23 0px, #94dc23 10px, #118AC2 12px, #118AC2 100%);
}
/*** end of green light for machine on/off ***/
.scheme_fluid,
.scheme_fluid .help { /* window options and version */
	color: #ABAEB7;
	overflow: hidden;
}
.scheme_fluid .help,
.scheme_fluid .dialog {
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 1) inset,
                 0 1px 0 rgba(187, 192, 202, 0.4), 0 0 0 9999px rgba(0, 0, 0, 0.8); /* color #BBC0CA */
	height: auto !important;
    top: 40% !important;
    border: solid 2px #292929;
}
.scheme_fluid .help a,
.scheme_fluid .dialog a {
    font-weight: bold;	
}
.scheme_fluid .help a:hover,
.scheme_fluid .dialog a:hover {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.9); /* color #000000 */
	color: #118AC2;
}
.scheme_fluid label i { /* information text in option windows */
    /* default font size = font-size: 90%; */
    color: #777777;
}
.scheme_fluid .dialog input[type="button"] {
    font-size : 12px !important;
}
.scheme_fluid select { /* dropdown list on settlement tab and options windows */
    background-color: #242424;
    color: #D2D2D2;
    padding-bottom: 2px;
	border-color : #2C2A2B;
	font-size: 13px;
	border-radius: 5px;
	margin-left: 5px;
}
.scheme_fluid select>option {
    background-color: #242424;
    color: #ABAEB7;
	padding: 2px 10px; /* -2 pixel vertical */
}
.scheme_fluid select > option:disabled {
	color: #828790;
	font-size: smaller;
}

/*************************************************/
/******************** TOP BAR ********************/
/*************************************************/
.scheme_fluid #topBar {	
	background-color: #323232;
	background-image: url('img/theme_fluid_light_background.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top left;
    height: 22px;
	border-bottom: none;
	box-shadow:none;
	top: 0px; /* for no shadow on top */
}
.scheme_fluid #headerLinks .links-block { /* a link separator : | on header links*/
	color: rgba(90, 90, 90, 0.3); /* color #5A5A5A */
}
.scheme_fluid #headerLinks div { /* for color text of MOTD on top bar */
	color: #D2D2D2;
}
.scheme_fluid #headerLinks>div:first-child:before {
    color: #118AC2;
    content: 'Theme by Volkeyrn  ';
	text-shadow: none; 
    text-decoration: none;
	font-weight: normal;
}
.scheme_fluid #sorrowTooltip { /* counter of BLS (Black Liquid Sorrow) */
	color: #D2D2D2;
}
.scheme_fluid #autosaveTooltip { 
	color: #118AC2;
}
.scheme_fluid #headerLinks a[onclick="gamePage.ui.displayAppDialog();"]{ /* Get the app */
	color: #DA8736 !important;
}
.scheme_fluid #headerLinks a[onclick="gamePage.ui.displayAppDialog();"]:hover {
	color: #B5BAC4 !important;
}

/************************************************/
/******************** FOOTER ********************/
/************************************************/
.scheme_fluid #footerLinks {
	bottom: 6px;
	background: rgba(36, 36, 36, 0.7); /* color #242424 */
	-webkit-box-shadow: 0 0 4px 4px rgba(36, 36, 36, 0.7); /* color #242424 */
			box-shadow: 0 0 4px 4px rgba(36, 36, 36, 0.7); /* color #242424 */
}
.scheme_fluid #footerLinks a:hover {
	text-shadow: none;
}
.scheme_fluid #footerLinks { /* a link separator : | on footer links*/
	color: rgba(90, 90, 90, 0.3); /* color #5A5A5A */
}

/*************************************************/
/******************** TOOLTIP ********************/
/*************************************************/
.scheme_fluid #tooltip,
.scheme_fluid .tooltip-block div {
	background-color: #000000;
	color: #828790; /* tooltip windows == left column : left text */
	border: 1px solid rgba(32, 32, 32, 0.9); /* color #202020 */
	box-shadow: 0 0 5px rgba(32, 32, 32, 0.5), /* color #202020 */
                 0 -2px 0 #121212 !important; 
	border-radius: 11px !important;	
	font-size: 14px;
}
.scheme_fluid .button_tooltip {
	background-color: #000000;
}
.scheme_fluid .button_tooltip div { /* tooltip window == left column: right text | center column :highlighting text */
	color: #ABAEB7;
	font-size: 14px;
}
.scheme_fluid .tooltip-inner .desc {   /* Tooltip Window : title text */
    color: #C8C8C8; 
	/*font-size: 100%; /* default font size = font-size: 15px; */
	border-bottom : 1px solid rgba(60, 60, 60, 0.7) !important; /* color #3C3C3C /* /* border line under title */
	margin-bottom: 5px;
}
.scheme_fluid .tooltip-divider { /* border line before effects text */
	border-bottom : 1px solid rgba(60, 60, 60, 0.7) !important; /* color #3C3C3C */
}
.scheme_fluid .effectName { /* Tooltip Window : effects text */
    color: #DA8736 !important;
	/*font-size: 90% !important; /* default font size = font-size: 14px; */
}
.scheme_fluid .rawRes { /* Tooltip Window == text for all missing resources for primary resource */
    color: #777777;
	font-style: italic;
	padding-left: 12px;
}
.scheme_fluid .button_tooltip .noRes,
.scheme_fluid .limited { /* on ressource limited or not attainable */
	color: #991A22;
}
.scheme_fluid #tooltip .flavor { /* Tooltip Window : last bottom text on center column tooltip window */
    color: #118AC2;
	font-size: 13px !important;
}

/*******************************************************/
/******************** CENTER COLUMN ********************/
/*******************************************************/
.scheme_fluid .tab { 
	font-size: 15px;
}
.scheme_fluid .tabInner {
	border: none; /* border for all under tabs in center column */
	padding: 5px !important; /* 20px gained for buttons width. default padding: 15px; */
	margin-bottom: 30px; /* for correct visibility of last panelcontainer end - default margin-bottom: 20px; */
}
.scheme_fluid .tabInner label[for='toggleResearched'],
.scheme_fluid .tabInner .expandAllBar a:last-child { /* for correct align with background image of the theme */
	margin-right: 10px !important;
}
.scheme_fluid .tabsContainer { /* separator | for tab */
	color: rgba(90, 90, 90, 0.3); /* color #5A5A5A */
}
.scheme_fluid .activeTab { 
	color: #B5BAC4; 
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7);
}
.scheme_fluid a.activeTab {
    border-bottom: solid 1px #118AC2;
}
.scheme_fluid a.activeTab:hover {
    color: #B5BAC4; 
}
.scheme_fluid .bldTopContainer { /* under tab */
    font-size: 90%;
}
.scheme_fluid .bldGroupContainer { /* container for all buttons on center column */
    padding-top: 8px;
    border-top: 1px solid rgba(187, 192, 202, 0.2); /* color #BBC0CA */
    margin-top: 8px;
}
.scheme_fluid input[type='button'] {
	font-size: 15px !important;
	background-color: #D2D2D2 !important; 
    cursor: pointer !important;
	box-shadow: 0 1px 5px rgba(0, 0, 1),
                 0 1px 0 rgba(255, 255, 255, 0.8) !important;
    border: solid 1px transparent !important; /* for no offset when border on */
    border-radius: 7px !important;
    outline: 0 !important;
    color: #292728;
    padding: 5px 20px;
}
.scheme_fluid input[type='button']:hover {
	background-color: #118AC2 !important; 
	border: solid 1px #202020 !important;
	color: #171516 !important;
	cursor: pointer !important;
	font-weight: bold;
	box-shadow: 1px 1px 3px #292728 inset, 
                 0 1px 0 rgba(187, 192, 202, 0.2) !important; /* color #BBC0CA */
}
/* button observer different from other input buttons  */
.scheme_fluid input[type='button']#observeBtn {
	background-color: #118AC2 !important; 
	color: #EEEEEE;
	border: solid 1px rgba(17, 138, 194, 1) !important; /* color #118AC2; */
	box-shadow: 0 3px 6px rgba(17, 138, 194, 1), /* color #118AC2 */
                 0 1px 0 #118AC2 !important;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.scheme_fluid input[type='button']#observeBtn:hover {
	background-color: #666666 !important;
	color: #BBBBBB !important;
	border: solid 1px rgba(17, 138, 194, 0.8) !important; /* color #118AC2; */
	box-shadow: 0 2px 4px rgba(17, 138, 194, 0.8), /* color #118AC2 */
                 0 1px 0 rgba(17, 138, 194, 0.8) !important;	/* color #118AC2; */
}
.scheme_fluid .modern .btnContent {
    padding: 10px 0px 10px 13px !important; /* 13px left for power background-image */
}
.scheme_fluid .btn .btnContent a {
    max-width: 55px; /* default max-width: 50px; */
    /* default overflow-x: hidden; */
    text-overflow: clip; /* default text-overflow: ellipsis; */
}
.scheme_fluid .btn.modern a {
	color: #808080;
	font-weight: 300;
	background-color: transparent; 
	padding: 10px 2px 10px 2px !important; /* default :  padding: 10px 6px 10px 6px !important; */
	/* default min-width: 20px; */
}
.scheme_fluid .btn.modern:not(.disabled) a {
	color: #202020;
	border-color: rgba(164, 164, 164, 0.1); /* color #A4A4A4 */
}
.scheme_fluid .btn.modern.disabled a {
	border-color: rgba(85, 85, 85, 0.4) !important; /* color #555555 */
}
.scheme_fluid .btn.modern a:hover { 
	color: #C4C4C4;
	text-shadow: none;
}
.scheme_fluid .btn.modern:not(.disabled) a:hover { 
	color: #E4E4E4;
	background-color: rgba(255, 255, 255, 0.2);
}
.scheme_fluid .btn.modern.disabled a:hover { 
	background-color: rgba(180, 180, 180, 0.1); /* color #B4B4B4 */
}
.scheme_fluid .btn.modern:not(.disabled):active,
.scheme_fluid input[type='button']:active,
.scheme_fluid input[type='button']#observeBtn:active {
    border-color: #FFFFFF !important;
} 
.scheme_fluid .linkContent { /* dropdown list on button*/
    margin-top: 25px !important; /* for correct vertical align dropdown list */
    width: auto !important;
	background-color: #118AC2; /* color pick from button not disabled and hover */
}
.scheme_fluid .btn.modern.disabled .linkContent { /* dropdown list on button disabled*/
 	background-color: #4A4A4A; /* color pick from button disabled and hover */
}
.scheme_fluid .linkContent a {
    color: #B5BAC4;
    width: 40px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.scheme_fluid .panelContainer { 
    background-color: rgba(90, 90, 90, 0.3); /* color #5A5A5A */
    border-color: rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
	border-radius: 7px;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 1) inset,
                 0 1px 0 rgba(187, 192, 202, 0.3) !important; /* color #BBC0CA */
}
.scheme_fluid .panelContainer div.title {
    color: #118AC2;
	font-size: 18px !important;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
	font-style: italic;
}
.scheme_fluid .panelContainer .toggle {
    border-color : rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
	border-radius: 5px;
	margin: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1),
                 0 -1px 0 rgba(187, 192, 202, 1) !important; /* color #BBC0CA */
}
.scheme_fluid .trade-race .buys {
	color: #991A22;
	font-size: smaller;
}
.scheme_fluid .trade-race .sells {
	color: #7AA738;
	font-size: smaller;
}
.scheme_fluid .trade-race .ammount {
	color: #909090;
	font-size: smaller;
}
.scheme_fluid .attitude { /* text for attitude races int trade tab */
	/* default font size = font-size: 90%; */
	color: #606060 !important;
	text-shadow: none !important;
}
.scheme_fluid .statTable {
	margin-left: 20px;
}
/* for container 'Census' -> list of kittens in settlement tab */
.scheme_fluid .panelContainer div[style^='border: 1px solid gray;']{
	border-color: rgba(209, 214, 223, 0.4) !important; /* color #D1D6DF */
	font-size: 90%;
	border-radius: 7px;
	margin-bottom: 7px !important;
	background-color : rgba(17, 138, 194, 0.07); /* color #118AC2; */
}
.scheme_fluid .panelContainer div[style^='border: 1px solid gray;'] div { /* name of kitten */
	color: #EEEEEE;
}
.scheme_fluid .panelContainer div[style^='border: 1px solid gray;'] span { /* jobs unasigned */
	color: #777777;
}
.scheme_fluid .panelContainer div[style^='border: 1px solid gray;'] span[style='font-weight: bold' i]{ /* job assigned */
	color: #118AC2;
}
.scheme_fluid .btn.modern a.bld-on,
.scheme_fluid .btn.modern a.auto-on,
.scheme_fluid .btn.modern a.fugit-on {
	color: #7AA738;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.scheme_fluid .btn.modern:hover a.bld-on,
.scheme_fluid .btn.modern:hover a.auto-on,
.scheme_fluid .btn.modern:hover a.fugit-on {
	color: #94dc23;
}
.scheme_fluid .btn.modern a.bld-off,
.scheme_fluid .btn.modern a.auto-off,
.scheme_fluid .btn.modern a.fugit-off {
	color: #991A22;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.scheme_fluid .btn.modern:hover a.bld-off,
.scheme_fluid .btn.modern:hover a.auto-off,
.scheme_fluid .btn.modern:hover a.fugit-off {
	color: #E00000;
}
.scheme_fluid .btn.modern a.bld-on:hover,
.scheme_fluid .btn.modern a.auto-on:hover,
.scheme_fluid .btn.modern a.fugit-on:hover,
.scheme_fluid .btn.modern a.bld-off:hover,
.scheme_fluid .btn.modern a.auto-off:hover,
.scheme_fluid .btn.modern a.fugit-off:hover {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/**********************************************************/
/******************** ACHIEVEMENTS TAB ********************/
/**********************************************************/
.scheme_fluid .achievement {
    display: block;
    margin: 10px;
    height: 38px;
    background-color: rgba(17, 138, 194, 0.1); /* color #118AC2; */
    color: #D2D2D2;
    text-shadow: rgba(187, 192, 202) 2px 0px 10px; /* color #BBC0CA */
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: default !important;
	border-color : rgba(17, 138, 194, 0.5); /* color #118AC2; */
	border-radius: 7px;
}
.scheme_fluid .achievement-header {
	color: #118AC2;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
	font-size: 16px;
}
.scheme_fluid .achievement.unethical {
    text-shadow: rgb(255, 67, 91) 2px 0px 10px;
	background-color: rgba(153, 26, 34, 0.1); /* color #991A22 */
	border-color : rgba(153, 26, 34, 0.5); /* color #991A22 */
}
.scheme_fluid .achievement.unethical:hover {
    background-color: rgba(184, 72, 87, 0.4); /* color #b84857 */
	border-color : rgba(153, 26, 34); /* color #991A22 */
}
.scheme_fluid .achievement:hover {
    background-color: rgba(17, 138, 194, 0.4); /* color #118AC2; */
	border-color : rgba(17, 138, 194, 1); /* color #118AC2; */
}
.scheme_fluid .achievement[title='???'] {
    color: rgba(220, 220, 220, 0.5);
	background-color: rgba(140, 140, 140, 0.1);
    text-shadow: none;
	border-color : rgba(140, 140, 140, 0.4);
}
.scheme_fluid .achievement[title='???']:hover {
    background-color: rgba(255, 255, 255, 0.1);
	border-color : rgba(140, 140, 140, 0.7);
}
.scheme_fluid .achievement:after {
    display: block;
    margin-top: 5px;
    font-size: 90%;
    color: #FFFFFF;
    text-shadow: none;
    text-transform: capitalize;
    letter-spacing: normal;
    font-weight: normal !important;
}
.scheme_fluid .achievement.unethical:after {
	color: #FFFFFF !important;
}
.scheme_fluid .achievement-header .star {
	/* default font size = font-size: 18px; */
    color: #DC7111; /* orange or dominant color of the theme */
}
.scheme_fluid .achievement .star { 
	/* default font size = font-size: 18px; */
	color : #888888;
}
.scheme_fluid .achievement.unlocked .star {
	color : #DC7111; /* orange or dominant color of the theme */
	font-weight: bold;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.9);
}

/******************************************************/
/******************** RIGHT COLUMN ********************/
/******************************************************/
.scheme_fluid #rightColumn {
	width: 21%;
    max-width: 400px;
    min-width: 250px;
	background-image: url('img/theme_fluid_border_left_background.png');
	background-repeat: repeat-y;	
	background-attachment: scroll,local;
	background-position: left;
}
.scheme_fluid #calendarDiv {
    color: #118AC2;
	padding-left: 5px;
    margin-top: 5px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7);
	font-weight: bold;
	font-size: 90%;
}
.scheme_fluid #calendarSign {
   font-size: 120% ;
}
.scheme_fluid #calendarSign:hover {
   cursor: default ;
}
.scheme_fluid .right-tab-header { /* Log | Chat link on right column */
	color: rgba(90, 90, 90, 0.5); /* color #5A5A5A */ /* for separator tab | */
	font-size: 80%;
 }
.scheme_fluid a[id='logLink'],
.scheme_fluid a[id='chatLink']{
	font-weight: 400 !important; /* thin if possible with font sizes */
}
.scheme_fluid .right-tab-header a.active {
    color: #B5BAC4; 
	font-weight: bold !important;	
}
.scheme_fluid div.console-intro { /* Text on right column : "You are a kitten in a catnip forest." */
	color: #7AA738;
	font-size: 90%;
	font-weight: 400; /* thin if possible with font sizes */
	border-top: 1px solid rgba(90, 90, 90, 0.5) !important; /* color #5A5A5A */
	margin-top: 10px;
}
.scheme_fluid #clearLogHref { /* Link in right column : Clear log */
	font-size: 80%;
}
.scheme_fluid #logFiltersBlock > a { /* Link in right column : [+]Log Filters */
	font-size: 80%;
	margin-left: 5px;
}
.scheme_fluid #pauseBtn { /* Link in right column : pawse */
	margin-left: 5px;
}
.scheme_fluid #gameLog span.msg:not(.type_date)  {
    margin-left: 1.2em;
	list-style-type: disc;
	padding-left: 0.3em;
}
.scheme_fluid #gameLog span.noBullet {
	margin-left: 2.3em !important;
	list-style-type: '\25AA' !important; /* black small square */
}
.scheme_fluid .msg {
	font-size: 85%;
	font-weight: normal; /* thin if possible with font sizes */
	color: #81848C;
}
.scheme_fluid .msg.type_notice {
    color: #118AC2; /* color default : #01A9DB; */
}
.scheme_fluid .msg.type_important {
    color: #DA8736; /* color default : coral; */
}
.scheme_fluid .msg.type_alert {
    color: #991A22; /* color default : red; */
}
.scheme_fluid .msg.type_date {
    color: #D2D2D2; 
	font-weight: bold; /* default font size = font-size: 90%; */
	text-transform: none;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7);
    border-bottom: solid 1px rgba(187, 192, 202, 0.5); /* color #BBC0CA */
}

/*****************************************************/
/******************** LEFT COLUMN ********************/
/*****************************************************/
.scheme_fluid #leftColumn {
    background-image: url('img/theme_fluid_border_right_background.png');
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-attachment: scroll,local;
	background-position: right;
	margin-top: 16px;
}
.scheme_fluid .res-table {
    max-width: 352px;    /* +12 pixel */ 
    border-collapse: collapse; /* gain of 3 pixel by border -> no margin bottom after */
	margin-left: 2px; /* without 0px margin left for all ressources */
 } 
.scheme_fluid .craftTable {
	 margin-bottom: 50px !important; /* for correct margin bottom due of the line above with border-collapse: collapse on .res-Table !*/
 }
.scheme_fluid .res-cell.craft-link {
	color: #747474;
 } 
.scheme_fluid .res-cell.craft-link:hover { /* craft table left column */
    color: #B5BAC4;
	text-decoration: none; 
	font-weight: bold; 
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.9);
}
.scheme_fluid tr.resourceRow:hover,
.scheme_fluid .res-row:hover {
    background-color: rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
	cursor: default;
}
.scheme_fluid .res-row.craft:hover {
    background-color: rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
}
.scheme_fluid .highlited { /* higlighting ressources when hover button on center windows */
	background-color: rgba(200, 200, 200, 0.1); /* color #C8C8C8 */
}
.scheme_fluid .res-cell.resPerTick:hover {
	font-weight: normal !important;
}
.scheme_fluid .maxRes {
	color: #828790;
}
.scheme_fluid .resAmount {
    color: #ABAEB7;
}
.scheme_fluid .resLimitWarn {
    color: #DA8736;
	font-style: italic;
	opacity: 0.9; /* default opacity: 0.75; */
}
.scheme_fluid .resLimitNotice {
    color: #991A22;
}
.scheme_fluid .resPerTick {
    color: #ABAEB7;
	font-size:90%;
}
.scheme_fluid .res-cell.resPerTick {
    cursor: default;
}
.scheme_fluid #fastHuntContainer > a { /* Text left column : "Send hunters (xx times)" */
	font-size: 100%;
	font-weight: bold;
}
.scheme_fluid #fastHuntContainerCount { /* Text left column : "xx times" from Send hunters */
	color: #4A4A4A;
	text-shadow: none !important;
}
.scheme_fluid #fastPraiseContainer > a { /* Text left column : "Praise the sun!" */
	font-size: 100%;
	font-weight: bold;
}
.scheme_fluid #fastPraiseContainer > a:hover {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.scheme_fluid #fastHuntContainer > a:hover { 
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.scheme_fluid .res-cell.positive-weather { /* to change the color for bonus cell according to the season */
	font-size: 85% !important;
	color: #7AA738 !important;
} 
.scheme_fluid .res-cell.negative-weather { /* to change the color for penalty cell according to the season */
	font-size: 85% !important;	
	color: #991A22 !important;
}
.scheme_fluid .craft-link[data-reactid$='.6.0'] { /* 6th column of craft table : "all" */
	color: #DA8736;
 } 
.scheme_fluid .resource_kittens .resource-name { /* change for resource-name = kittens */
	color: #777777 !important; 
}
.scheme_fluid .resource_faith .resource-name { /* change for resource-name = Faith */
	color: #777777 !important;
}
.scheme_fluid .resource_steel .resource-name { /* change for resource-name = Steel */
	color: #777777 !important;
}
.scheme_fluid .resource_gear .resource-name { /* change for resource-name = Gear */
	color: #777777 !important;
}
.scheme_fluid .resource_alloy .resource-name { /* change for resource-name = Alloy */
	color: #777777 !important;
}
.scheme_fluid .resource_megalith .resource-name { /* change for resource-name = Megalith */
	color: #777777 !important;
}

/***************************************************/
/******************** SCROLLBAR ********************/
/***************************************************/
.scheme_fluid ::-webkit-scrollbar-thumb {
    background: #242424;
	border-radius: 40px;
}
.scheme_fluid ::-webkit-scrollbar-track {
    background: #1A1A1A;
    border-radius: 50px;
}
/* Only FireFox */
.scheme_fluid #leftColumn,
.scheme_fluid #rightColumn,
.scheme_fluid #midColumn {
   scrollbar-width: thin;
   scrollbar-color: #242424 #1A1A1A !important;
}
.scheme_fluid select {
   scrollbar-width: auto !important;
}
 